<h1>Management Logs</h1>
<table border="1">
    <thead>
        <tr>
            <th>Management Log Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form method="post" action="{% url 'management_log_view' %}">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Enter condition">
                    <button type="submit">Create</button>
                </form>
                <ul>
                    {% for log in logs_list %}
                        <li>{{ log.condition }} <form method="post" action="{% url 'delete_log' log.id %}">{% csrf_token %}
                            <button type="submit">Delete</button>
                        </form></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>